<nav class="navbar navbar-color-on-scroll navbar-transparent  fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="index.html">Ralio Logo </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                        <a href="#" class="nav-link" >
                                Home
                        </a>
                    </li>
              <li class="dropdow nav-item">
                  <a href="#about-section" class="nav-link" >
                       About Me
                  </a>
              </li>
              <li class="dropdown nav-item">
                  <a href="#music-section" class=" nav-link" >
                     My Music
                  </a>
              </li>
              <li class="dropdown nav-item">
                  <a href="#social-section" class=" nav-link" >
                      Pages
                  </a>
              </li>
              <li class="dropdown nav-item">
                    <a href="#gallery-section" class=" nav-link" >
                        My Gallery
                    </a>
                </li>
              <li class="dropdown nav-item">
                    <a href="#contact-section" class=" nav-link" >
                         Contact Us
                    </a>
              </li>
          </ul>
      </div>
  </div>
</nav>



<div class="page-header header-filter clear-filter" data-parallax="tru" style="background-image: url('../../assets/img/pro/examples/color1.jpg  ');">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                  <h1>Ralio
                      <span class="pro-badge">
                          Ralio
                      </span>
                  </h1>
                  <h3 class="title">
                    Music is Life 
                  </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section">
      <div class="container" id="about-section">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h4 class="description text-center ">
                      Material Kit PRO is a Bootstrap UI Kit with a fresh,
                       new design inspired by Google&apos;s Material Design.
                       You asked for it, so we built it. It&apos;s a great pleasure to
                        introduce to you the material concepts in an easy to use and beautiful 
                        set of components.
                    </h4>
              </div>
          </div>
          <div class="features-1">
              <div class="row">
                  <div class="col-md-6">
                      <div class="info">
                          
                          <h4 class="info-title">Who I AM ?</h4>
                          <p>Every element that you need in a product comes built in as a component. All components fit perfectly with each other and can take variations in colour.</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                        <div class="info">
                            <iframe width="560" height="315"
                             src="https://www.youtube.com/embed/p5va6BCh93s"
                              frameborder="0" 
                              allow="accelerometer;
                               autoplay; encrypted-media; 
                               gyroscope; picture-in-picture" 
                               allowfullscreen>
                            </iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section section-cards section-dark">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="image-container">
                      <img src="../../assets/img/pro/examples/color1.jpg">
                  </div>
              </div>
              <div class="col-md-4 ml-auto">
                  <div class="section-description">
                      <h3 class="title">Unconventional Cards</h3>
                      <h6 class="description">One Card for Every Problem</h6>
                      <h5 class="description">We love cards and everybody on the web seems to. We have gone above and beyond with options for you to organise your information. From cards designed for blog posts, to product cards or user profiles, you will have many options to choose from. All the cards follow the material principles and have a design that stands out. </h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- section for music start -->
  <div class="section section-free-demo">
      <div class="container" id="music-section">
          <div class="row">
              <div class="col-md-5">
                  <div class="icon-github">
                      <i class="fa fa-github"></i>
                  </div>
                  <div class="section-description">
                      <h2 class="title">My Lastest Song</h2>
                  </div>
              </div>
              <div class="col-md-6 ml-auto">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="card card-pricing card-plain">
                              <div class="card-body">
                                  <h3 class="card-title">Albums</h3>
                                  <ul>
                                      <li>
                                          <b>60</b> Components
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="card card-pricing card-plain">
                              <div class="card-body">
                                  <h3 class="card-title">Tracklist</h3>
                                  <ul>
                                      <li>
                                            <audio src="/music/good_enough.mp3" controls>
                                                <p>If you are reading this, it is because your browser does not support the audio element.</p>
                                                </audio>
                                      </li>
                                      <li>
                                          <b>1000+</b> Bad as E Bad
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- section for Music end -->
<div class="section section-overview">
<!-- social section start -->
      <div class="features-5" id="social-section" style="background-image: url('../../assets/img/bg0.jpg');">
          <div class="col-md-8 ml-auto mr-auto text-center title">
                  Get Connect
              <h1 class="title">Social</h1>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="info">
                          <div class="icon">
                              <i class="material-icons">format_bold</i>
                          </div>
                          <h4 class="info-title">Facebook</h4>
                          <p>Enjoy the fluid grid system based on 12 columns. Material Kit PRO is built over Bootstrap and has all the benefits that the framework comes with.</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="info">
                          <div class="icon">
                              <i class="material-icons">phonelink</i>
                          </div>
                          <h4 class="info-title">Histagram</h4>
                          <p>This Bootstrap kit is built mobile-first and looks amazing on any device. Regardless of the screen size, the website content will naturally fit the given resolution. </p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="info">
                          <div class="icon">
                              <i class="material-icons">access_time</i>
                          </div>
                          <h4 class="info-title">Youtube</h4>
                          <p>Using the Material Kit PRO will save you large amount of time. You don&apos;t have to worry about customising the basic Bootstrap design or generating new components.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<!-- social section end -->
<br>
<!-- subcribe section start -->
    <div class="subscribe-line subscribe-line-image" style="background-image: url('../../assets/img/bg0.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="text-center">
                        <h3 class="title">Subscribe to our Updates</h3>
                        <p class="description">
                            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                        </p>
                    </div>
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body ">
                            <form [formGroup]="subcribeForm">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 ">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">mail</i>
                                                </span>
                                            </div>
                                            <input formControlName="email" type="email" value="" placeholder="Your Email..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 ">
                                        <button type="button" (click)="subcribe()" class="btn btn-primary btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- sucribe section ends -->
<!-- gallery section  start-->
<div class="related-products" id="gallery-section">
        <h3 class="title text-center">My Gallery</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let image of galleryImage" >
                <div class="card card-product">
                    <div class="card-header card-header-image">
                            <!-- {{image.image}} -->
                            <img class="img" ng-src="image.image"   alt="">
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-rose">{{image.imagename}}</h6>
                    </div>
                   
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-4">
                    <div class="card card-product">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img class="img" src="../../assets/img/bg0.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">Name the Picture</h6>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../assets/img/bg0.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Name the Picture</h6>
                            </div>
                           
                        </div>
                </div> -->
        </div>
    </div>
<!-- gallery section ends -->
    <!-- contact section start -->
    <div class="section section-free-demo">
        <div class="container" id="contact-section" style="background-image: url('../../assets/img/bg0.jpg');">
            <h2 class="title text-center">Send me a message</h2>
            <div class="row">
                <div class="col-md-12">
                    <form  [formGroup]="messageForm">
                        <div class="form-group">
                            <label for="name" class="bmd-label-floating">Your name</label>
                            <input type="text" formControlName="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="exampleInputEmails">
                            <span class="bmd-help">We'll never share your email with anyone else.</span>
                        </div>
                        <div class="form-group label-floating">
                            <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
                            <textarea class="form-control" formControlName="message" rows="6" id="message"></textarea>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" (click)="sendMessage()" class="btn btn-primary btn-raised btn-round" value="Contact Us">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section ends -->
  </div>
</div>
<footer class="footer">
  <div class="container">
      <a class="footer-brand" href="#material-kit">Ralio</a>
      <ul class="pull-center">
          <li>
              <a href="#about-section">
                  About Me
              </a>
          </li>
          <li>
              <a href="#music-section">
                  My Music
              </a>
          </li>
          <li>
              <a href="#social-section">
                  Social
              </a>
          </li>
          <li>
                <a href="#gallery-section">
                    Gallery
                </a>
            </li>
      </ul>
      <ul class="social-buttons float-right" >
          <li>
              <a href="https://twitter.com/CreativeTim" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/CreativeTim" class="btn btn-just-icon btn-link btn-dribbble">
                  <i class="fa fa-dribbble"></i>
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/CreativeTimOfficial" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
              </a>
          </li>
          <div class="copyright float-right">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>2018, made 
                <!-- <i class="material-icons">favorite</i> -->
                 by Femithz.
            </div>
      </ul>
  </div>
</footer>
<!-- </div> -->
